<a href="https://colab.research.google.com/github/milicaci/obuznie/blob/master/DZ_14_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [156]:
import pandas as pd
import numpy as np

Задание 1. Загрузка данных

In [157]:
# Чтобы видеть все столбцы
pd.set_option('display.max_columns', None)

In [158]:
headers = ['surgery', 'Age', 'Hospital Number', 'rectal temperature', 'pulse', 'respiratory rate', 
                             'temperature of extremities', 'peripheral pulse', 'mucous membranes', 'capillary refill time', 
                             'pain', 'peristalsis', 'abdominal distension', 'nasogastric tube', 'nasogastric reflux', 
                             'nasogastric reflux PH', 'rectal examination - feces', 'abdomen', 'packed cell volume', 
                             'total protein', 'abdominocentesis appearance', 'abdomcentesis total protein', 'outcome', 
                             'surgical lesion', 'type of lesion 1', 'type of lesion 2', 'type of lesion 3', 'cp_data']
df = pd.read_csv('horse_data.csv', na_values = '?', names = headers)
df

,surgery,Age,Hospital Number,rectal temperature,pulse,respiratory rate,temperature of extremities,peripheral pulse,mucous membranes,capillary refill time,pain,peristalsis,abdominal distension,nasogastric tube,nasogastric reflux,nasogastric reflux PH,rectal examination - feces,abdomen,packed cell volume,total protein,abdominocentesis appearance,abdomcentesis total protein,outcome,surgical lesion,type of lesion 1,type of lesion 2,type of lesion 3,cp_data
0,2.0,1,530101,38.5,66.0,28.0,3.0,3.0,NaN,2.0,5.0,4.0,4.0,NaN,NaN,NaN,3.0,5.0,45.0,8.4,NaN,NaN,2.0,2,11300,0,0,2
1,1.0,1,534817,39.2,88.0,20.0,NaN,NaN,4.0,1.0,3.0,4.0,2.0,NaN,NaN,NaN,4.0,2.0,50.0,85.0,2.0,2.0,3.0,2,2208,0,0,2
2,2.0,1,530334,38.3,40.0,24.0,1.0,1.0,3.0,1.0,3.0,3.0,1.0,NaN,NaN,NaN,1.0,1.0,33.0,6.7,NaN,NaN,1.0,2,0,0,0,1
3,1.0,9,5290409,39.1,164.0,84.0,4.0,1.0,6.0,2.0,2.0,4.0,4.0,1.0,2.0,5.0,3.0,NaN,48.0,7.2,3.0,5.3,2.0,1,2208,0,0,1
4,2.0,1,530255,37.3,104.0,35.0,NaN,NaN,6.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,74.0,7.4,NaN,NaN,2.0,2,4300,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,1.0,1,533886,NaN,120.0,70.0,4.0,NaN,4.0,2.0,2.0,4.0,NaN,NaN,NaN,NaN,NaN,5.0,55.0,65.0,NaN,NaN,3.0,2,3205,0,0,2
296,2.0,1,527702,37.2,72.0,24.0,3.0,2.0,4.0,2.0,4.0,3.0,3.0,3.0,1.0,NaN,4.0,4.0,44.0,NaN,3.0,3.3,3.0,1,2208,0,0,1
297,1.0,1,529386,37.5,72.0,30.0,4.0,3.0,4.0,1.0,4.0,4.0,3.0,2.0,1.0,NaN,3.0,5.0,60.0,6.8,NaN,NaN,2.0,1,3205,0,0,2
298,1.0,1,530612,36.5,100.0,24.0,3.0,3.0,3.0,1.0,3.0,3.0,3.0,3.0,1.0,NaN,4.0,4.0,50.0,6.0,3.0,3.4,1.0,1,2208,0,0,1
299,1.0,1,534618,37.2,40.0,20.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,1.0,36.0,62.0,1.0,1.0,3.0,2,6112,0,0,2

In [159]:
df.describe()

,surgery,Age,Hospital Number,rectal temperature,pulse,respiratory rate,temperature of extremities,peripheral pulse,mucous membranes,capillary refill time,pain,peristalsis,abdominal distension,nasogastric tube,nasogastric reflux,nasogastric reflux PH,rectal examination - feces,abdomen,packed cell volume,total protein,abdominocentesis appearance,abdomcentesis total protein,outcome,surgical lesion,type of lesion 1,type of lesion 2,type of lesion 3,cp_data
count,299.000000,300.000000,3.000000e+02,240.000000,276.000000,242.000000,244.000000,231.000000,253.000000,268.000000,245.00000,256.000000,244.000000,196.000000,194.000000,53.000000,198.000000,182.000000,271.000000,267.000000,135.000000,102.000000,299.000000,300.000000,300.000000,300.000000,300.000000,300.000000
mean,1.397993,1.640000,1.085889e+06,38.167917,71.913043,30.417355,2.348361,2.017316,2.853755,1.305970,2.95102,2.917969,2.266393,1.755102,1.582474,4.707547,2.757576,3.692308,46.295203,24.456929,2.037037,3.019608,1.551839,1.363333,3657.880000,90.226667,7.363333,1.670000
std,0.490305,2.173972,1.529801e+06,0.732289,28.630557,17.642231,1.045054,1.042428,1.620294,0.477629,1.30794,0.976744,1.065131,0.649437,0.805359,1.982311,1.251119,1.491725,10.419335,27.475009,0.804905,1.968567,0.737187,0.481763,5399.513513,649.569234,127.536674,0.470998
min,1.000000,1.000000,5.184760e+05,35.400000,30.000000,8.000000,1.000000,1.000000,1.000000,1.000000,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,23.000000,3.300000,1.000000,0.100000,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000
25%,1.000000,1.000000,5.289040e+05,37.800000,48.000000,18.500000,1.000000,1.000000,1.000000,1.000000,2.00000,3.000000,1.000000,1.000000,1.000000,3.000000,1.000000,2.000000,38.000000,6.500000,1.000000,2.000000,1.000000,1.000000,2111.750000,0.000000,0.000000,1.000000
50%,1.000000,1.000000,5.303055e+05,38.200000,64.000000,24.500000,3.000000,2.000000,3.000000,1.000000,3.00000,3.000000,2.000000,2.000000,1.000000,5.000000,3.000000,4.000000,45.000000,7.500000,2.000000,2.250000,1.000000,1.000000,2673.500000,0.000000,0.000000,2.000000
75%,2.000000,1.000000,5.347275e+05,38.500000,88.000000,36.000000,3.000000,3.000000,4.000000,2.000000,4.00000,4.000000,3.000000,2.000000,2.000000,6.500000,4.000000,5.000000,52.000000,57.000000,3.000000,3.900000,2.000000,2.000000,3209.000000,0.000000,0.000000,2.000000
max,2.000000,9.000000,5.305629e+06,40.800000,184.000000,96.000000,4.000000,4.000000,6.000000,3.000000,5.00000,4.000000,4.000000,3.000000,3.000000,7.500000,4.000000,5.000000,75.000000,89.000000,3.000000,10.100000,3.000000,2.000000,41110.000000,7111.000000,2209.000000,2.000000

In [160]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 28 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   surgery                      299 non-null    float64
 1   Age                          300 non-null    int64
 2   Hospital Number              300 non-null    int64
 3   rectal temperature           240 non-null    float64
 4   pulse                        276 non-null    float64
 5   respiratory rate             242 non-null    float64
 6   temperature of extremities   244 non-null    float64
 7   peripheral pulse             231 non-null    float64
 8   mucous membranes             253 non-null    float64
 9   capillary refill time        268 non-null    float64
 10  pain                         245 non-null    float64
 11  peristalsis                  256 non-null    float64
 12  abdominal distension         244 non-null    float64
 13  nasogastric tube             196 non-null    float64
 14  nasogastric reflux           194 non-null    float64
 15  nasogastric reflux PH        53 non-null     float64
 16  rectal examination - feces   198 non-null    float64
 17  abdomen                      182 non-null    float64
 18  packed cell volume           271 non-null    float64
 19  total protein                267 non-null    float64
 20  abdominocentesis appearance  135 non-null    float64
 21  abdomcentesis total protein  102 non-null    float64
 22  outcome                      299 non-null    float64
 23  surgical lesion              300 non-null    int64
 24  type of lesion 1             300 non-null    int64
 25  type of lesion 2             300 non-null    int64
 26  type of lesion 3             300 non-null    int64
 27  cp_data                      300 non-null    int64
dtypes: float64(21), int64(7)
memory usage: 65.8 KB

Задание 2. Первичное изучение данных

In [161]:
df_kor = df[['surgery','Age','rectal temperature','pulse','respiratory rate','temperature of extremities','pain', 'outcome']]
df_kor.head()

,surgery,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
0,2.0,1,38.5,66.0,28.0,3.0,5.0,2.0
1,1.0,1,39.2,88.0,20.0,NaN,3.0,3.0
2,2.0,1,38.3,40.0,24.0,1.0,3.0,1.0
3,1.0,9,39.1,164.0,84.0,4.0,2.0,2.0
4,2.0,1,37.3,104.0,35.0,NaN,NaN,2.0

In [162]:
# стандартное отклонение набора данных
df_kor.describe()

,surgery,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
count,299.000000,300.000000,240.000000,276.000000,242.000000,244.000000,245.00000,299.000000
mean,1.397993,1.640000,38.167917,71.913043,30.417355,2.348361,2.95102,1.551839
std,0.490305,2.173972,0.732289,28.630557,17.642231,1.045054,1.30794,0.737187
min,1.000000,1.000000,35.400000,30.000000,8.000000,1.000000,1.00000,1.000000
25%,1.000000,1.000000,37.800000,48.000000,18.500000,1.000000,2.00000,1.000000
50%,1.000000,1.000000,38.200000,64.000000,24.500000,3.000000,3.00000,1.000000
75%,2.000000,1.000000,38.500000,88.000000,36.000000,3.000000,4.00000,2.000000
max,2.000000,9.000000,40.800000,184.000000,96.000000,4.000000,5.00000,3.000000

In [163]:
# выбросы через межквартльный размах (на примере роста)
q1 = df_kor['respiratory rate'].quantile(0.25)
q3 = df_kor['respiratory rate'].quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - (1.5 * iqr) 
upper_bound = q3 + (1.5 * iqr)
remove_outliers = df_kor[df_kor['respiratory rate'].between(lower_bound, upper_bound, inclusive=True)].sort_values('pulse')
remove_outliers

,surgery,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
232,1.0,1,38.5,30.0,18.0,NaN,NaN,1.0
130,1.0,1,37.8,30.0,12.0,NaN,NaN,2.0
276,1.0,1,38.0,36.0,16.0,3.0,4.0,3.0
242,1.0,1,NaN,36.0,32.0,1.0,5.0,2.0
203,2.0,1,37.2,36.0,9.0,1.0,2.0,1.0
...,...,...,...,...,...,...,...,...
83,1.0,1,38.0,NaN,24.0,3.0,5.0,2.0
115,2.0,1,NaN,NaN,40.0,3.0,3.0,1.0
159,2.0,1,NaN,NaN,12.0,1.0,2.0,1.0
182,1.0,1,38.0,NaN,24.0,3.0,5.0,2.0
204,1.0,1,39.2,NaN,23.0,3.0,4.0,1.0

При высоком пульсе частота дыхания повышенная, но есть  исключения.

In [164]:
pd.concat([df_kor, remove_outliers]).drop_duplicates(keep=False)

,surgery,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
3,1.0,9,39.1,164.0,84.0,4.0,2.0,2.0
5,2.0,1,NaN,NaN,NaN,2.0,2.0,1.0
7,1.0,1,NaN,60.0,NaN,3.0,NaN,2.0
9,2.0,9,38.3,90.0,NaN,1.0,5.0,1.0
29,2.0,1,37.7,48.0,NaN,2.0,1.0,1.0
...,...,...,...,...,...,...,...,...
271,1.0,1,37.7,80.0,NaN,3.0,5.0,1.0
274,1.0,1,NaN,76.0,NaN,NaN,NaN,3.0
281,2.0,1,40.0,78.0,NaN,3.0,2.0,2.0
284,2.0,1,38.5,54.0,NaN,1.0,3.0,1.0
295,1.0,1,NaN,120.0,70.0,4.0,2.0,3.0

Задание 3. Работа с пропусками

In [165]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 28 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   surgery                      299 non-null    float64
 1   Age                          300 non-null    int64
 2   Hospital Number              300 non-null    int64
 3   rectal temperature           240 non-null    float64
 4   pulse                        276 non-null    float64
 5   respiratory rate             242 non-null    float64
 6   temperature of extremities   244 non-null    float64
 7   peripheral pulse             231 non-null    float64
 8   mucous membranes             253 non-null    float64
 9   capillary refill time        268 non-null    float64
 10  pain                         245 non-null    float64
 11  peristalsis                  256 non-null    float64
 12  abdominal distension         244 non-null    float64
 13  nasogastric tube             196 non-null    float64
 14  nasogastric reflux           194 non-null    float64
 15  nasogastric reflux PH        53 non-null     float64
 16  rectal examination - feces   198 non-null    float64
 17  abdomen                      182 non-null    float64
 18  packed cell volume           271 non-null    float64
 19  total protein                267 non-null    float64
 20  abdominocentesis appearance  135 non-null    float64
 21  abdomcentesis total protein  102 non-null    float64
 22  outcome                      299 non-null    float64
 23  surgical lesion              300 non-null    int64
 24  type of lesion 1             300 non-null    int64
 25  type of lesion 2             300 non-null    int64
 26  type of lesion 3             300 non-null    int64
 27  cp_data                      300 non-null    int64
dtypes: float64(21), int64(7)
memory usage: 65.8 KB

Дополняем данными столбцы, где они пропущены значения

In [166]:
# 0 дополним медианой, нет 1 значения
df.surgery.fillna(df.surgery.median(), inplace=True)

In [167]:
# 3 
df['rectal temperature'].fillna(df.groupby(['pain'])['rectal temperature'].transform('median'), inplace=True)

In [168]:
# 4 
df['pulse'].fillna(df.groupby(['pain'])['pulse'].transform('median'), inplace=True)

In [171]:
# 5 
df['respiratory rate'].fillna(df.groupby(['pain'])['rectal temperature'].transform('median'), inplace=True)

In [169]:
# 6
df['temperature of extremities'].fillna(df.groupby(['rectal temperature'])['temperature of extremities'].transform('median'), inplace=True)

In [170]:
# 7
df['peripheral pulse'].fillna(df.groupby(['pulse'])['peripheral pulse'].transform('median'), inplace=True)

In [172]:
# 8
df['mucous membranes'].fillna(df.groupby(['type of lesion 1'])['mucous membranes'].transform('median'), inplace=True)

In [173]:
# 9
df['capillary refill time'].fillna(df.groupby(['pulse'])['capillary refill time'].transform('median'), inplace=True)

In [174]:
# 10
df.pain.fillna(df.groupby(['surgical lesion', 'outcome', 'Age']).pain.transform('median'), inplace=True)

In [175]:
# 11
df['peristalsis'].fillna(df.groupby(['pain'])['peristalsis'].transform('median'), inplace=True)

In [176]:
# 12
df['abdominal distension'].fillna(df.groupby(['surgery', 'pain'])['abdominal distension'].transform('median'), inplace=True)

In [177]:
# 13
df['nasogastric tube'].fillna(df.groupby(['pain'])['nasogastric tube'].transform('median'), inplace=True)

In [178]:
# 14
df['nasogastric reflux'].fillna(df.groupby(['pain'])['nasogastric reflux'].transform('median'), inplace=True)

In [179]:
# 15 Удалим столбец "nasogastric reflux PH", так как нет 82 % данных
df.drop(['nasogastric reflux PH'], axis=1, inplace=True)

In [180]:
# 16
df['rectal examination - feces'].fillna(df.groupby(['surgery'])['rectal examination - feces'].transform('median'), inplace=True)

In [181]:
# 17
df['abdomen'].fillna(df.groupby(['surgery', 'pain'])['abdomen'].transform('median'), inplace=True)

In [182]:
# 18
df['packed cell volume'].fillna(df.groupby(['pulse'])['packed cell volume'].transform('median'), inplace=True)

In [183]:
# 19
df['total protein'].fillna(df.groupby(['packed cell volume'])['total protein'].transform('median'), inplace=True)

In [184]:
# 20
df['abdominocentesis appearance'].fillna(df.groupby(['surgical lesion', 'pain'])['abdominocentesis appearance'].transform('median'), inplace=True)

In [185]:
# 21
df['abdomcentesis total protein'].fillna(df.groupby(['surgical lesion', 'pain'])['abdomcentesis total protein'].transform('median'), inplace=True)

In [186]:
# 22
df.outcome.fillna(df.outcome.median(), inplace=True) #дополним медианой,  нет 1 значения

In [187]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 27 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   surgery                      300 non-null    float64
 1   Age                          300 non-null    int64
 2   Hospital Number              300 non-null    int64
 3   rectal temperature           285 non-null    float64
 4   pulse                        292 non-null    float64
 5   respiratory rate             286 non-null    float64
 6   temperature of extremities   287 non-null    float64
 7   peripheral pulse             284 non-null    float64
 8   mucous membranes             294 non-null    float64
 9   capillary refill time        288 non-null    float64
 10  pain                         300 non-null    float64
 11  peristalsis                  300 non-null    float64
 12  abdominal distension         297 non-null    float64
 13  nasogastric tube             300 non-null    float64
 14  nasogastric reflux           297 non-null    float64
 15  rectal examination - feces   300 non-null    float64
 16  abdomen                      297 non-null    float64
 17  packed cell volume           294 non-null    float64
 18  total protein                292 non-null    float64
 19  abdominocentesis appearance  300 non-null    float64
 20  abdomcentesis total protein  300 non-null    float64
 21  outcome                      300 non-null    float64
 22  surgical lesion              300 non-null    int64
 23  type of lesion 1             300 non-null    int64
 24  type of lesion 2             300 non-null    int64
 25  type of lesion 3             300 non-null    int64
 26  cp_data                      300 non-null    int64
dtypes: float64(20), int64(7)
memory usage: 63.4 KB

Вставим значения, как у большинства, так как максимально значений не хватает  всего 5% данных, на результатах скажется незначительно.

In [198]:
# 3
df['rectal temperature'].fillna(df['rectal temperature'].median(), inplace=True)
df['rectal temperature'] = df['rectal temperature'].astype(int)  # перечедем в int для точности 
# 4
df['pulse'].fillna(df['pulse'].median(), inplace=True)
# 5
df['respiratory rate'].fillna(df['respiratory rate'].median(), inplace=True)
# 6
df['temperature of extremities'].fillna(df['temperature of extremities'].median(), inplace=True)
# 7
df['peripheral pulse'].fillna(df['peripheral pulse'].median(), inplace=True)
# 8
df['mucous membranes'].fillna(df['mucous membranes'].median(), inplace=True)
# 9
df['capillary refill time'].fillna(df['capillary refill time'].median(), inplace=True)
# 12
df['abdominal distension'].fillna(df['abdominal distension'].median(), inplace=True)
# 14
df['nasogastric reflux'].fillna(df['nasogastric reflux'].median(), inplace=True)
# 17
df['abdomen'].fillna(df['abdomen'].median(), inplace=True)
# 18
df['packed cell volume'].fillna(df['packed cell volume'].median(), inplace=True)
# 19
df['total protein'].fillna(df['total protein'].median(), inplace=True)
# 20
df['abdominocentesis appearance'].fillna(df['abdominocentesis appearance'].median(), inplace=True)
# 21
df['abdomcentesis total protein'].fillna(df['abdomcentesis total protein'].median(), inplace=True)

In [199]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 27 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   surgery                      300 non-null    float64
 1   Age                          300 non-null    int64
 2   Hospital Number              300 non-null    int64
 3   rectal temperature           300 non-null    int64
 4   pulse                        300 non-null    float64
 5   respiratory rate             300 non-null    float64
 6   temperature of extremities   300 non-null    float64
 7   peripheral pulse             300 non-null    float64
 8   mucous membranes             300 non-null    float64
 9   capillary refill time        300 non-null    float64
 10  pain                         300 non-null    float64
 11  peristalsis                  300 non-null    float64
 12  abdominal distension         300 non-null    float64
 13  nasogastric tube             300 non-null    float64
 14  nasogastric reflux           300 non-null    float64
 15  rectal examination - feces   300 non-null    float64
 16  abdomen                      300 non-null    float64
 17  packed cell volume           300 non-null    float64
 18  total protein                300 non-null    float64
 19  abdominocentesis appearance  300 non-null    float64
 20  abdomcentesis total protein  300 non-null    float64
 21  outcome                      300 non-null    float64
 22  surgical lesion              300 non-null    int64
 23  type of lesion 1             300 non-null    int64
 24  type of lesion 2             300 non-null    int64
 25  type of lesion 3             300 non-null    int64
 26  cp_data                      300 non-null    int64
dtypes: float64(19), int64(8)
memory usage: 63.4 KB

In [200]:
print(f'Средняя температура равна',df['rectal temperature'].mean())
print(f'Медиана температуры равна',df['rectal temperature'].median())
print(f'Мода температуры равна',df['rectal temperature'].mode()[0])

print(f'Стандартное отклонение температуры равна',df['rectal temperature'].std())
print(f'Дисперсия случайной величины температуры равна',df['rectal temperature'].var())

Средняя температура равна 37.81
Медиана температуры равна 38.0
Мода температуры равна 38
Стандартное отклонение температуры равна 0.6895541674392077
Дисперсия случайной величины температуры равна 0.47548494983277895

In [201]:
df_kor1 = df[['surgery','Age','rectal temperature','pulse','respiratory rate','temperature of extremities','pain', 'outcome']]
#df_kor1.head()

In [202]:
df_kor1.describe()

,surgery,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
count,300.000000,300.000000,300.000000,300.000000,300.000000,300.000000,300.000000,300.000000
mean,1.396667,1.640000,37.810000,72.106667,31.526167,2.381667,2.968333,1.550000
std,0.490023,2.173972,0.689554,27.658971,16.073510,1.008408,1.240953,0.736642
min,1.000000,1.000000,35.000000,30.000000,8.000000,1.000000,1.000000,1.000000
25%,1.000000,1.000000,37.000000,48.000000,20.000000,1.000000,2.000000,1.000000
50%,1.000000,1.000000,38.000000,65.500000,30.000000,3.000000,3.000000,1.000000
75%,2.000000,1.000000,38.000000,88.000000,38.150000,3.000000,4.000000,2.000000
max,2.000000,9.000000,40.000000,184.000000,96.000000,4.000000,5.000000,3.000000